In [33]:
# import necessary dependencies
import numpy as np 
import pandas as pd 
import altair as alt
from functools import reduce

In [34]:
# 
CH4_capita = pd.read_csv("ghg-emissions-ch4-capita.csv")
CH4_gdp = pd.read_csv("ghg-emissions-ch4-gdp.csv")
CH4_total = pd.read_csv("ghg-emissions-ch4-total.csv")

#
CO2_capita = pd.read_csv("ghg-emissions-co2-capita.csv")
CO2_gdp = pd.read_csv("ghg-emissions-co2-gdp.csv")
CO2_total = pd.read_csv("ghg-emissions-co2-total.csv")

#
fgas_capita = pd.read_csv("ghg-emissions-fgas-capita.csv")
fgas_gdp = pd.read_csv("ghg-emissions-fgas-gdp.csv")
fgas_total = pd.read_csv("ghg-emissions-fgas-total.csv")

#
N20_capita = pd.read_csv("ghg-emissions-n2o-capita.csv")
N20_gdp = pd.read_csv("ghg-emissions-n2o-gdp.csv")
N20_total = pd.read_csv("ghg-emissions-n2o-total.csv")

In [38]:
#
CH4_capita_melt = pd.melt(CH4_capita, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "CH4pC").drop(columns = "unit")
CH4_gdp_melt = pd.melt(CH4_gdp, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "CH4pGDP").drop(columns = "unit")
CH4_total_melt = pd.melt(CH4_total, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "CH4TOT").drop(columns = "unit")

#
CO2_capita_melt = pd.melt(CO2_capita, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "CO2pC").drop(columns = "unit")
CO2_gdp_melt = pd.melt(CO2_gdp, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "CO2pGDP").drop(columns = "unit")
CO2_total_melt = pd.melt(CO2_total, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "CO2TOT").drop(columns = "unit")

#
fgas_capita_melt = pd.melt(fgas_capita, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "FGaspC").drop(columns = "unit")
fgas_gdp_melt = pd.melt(fgas_gdp, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "FGaspGDP").drop(columns = "unit")
fgas_total_melt = pd.melt(fgas_total, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "FGasTOT").drop(columns = "unit")

#
N20_capita_melt = pd.melt(N20_capita, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "N20pC").drop(columns = "unit")
N20_gdp_melt = pd.melt(N20_gdp, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "N20pGDP").drop(columns = "unit")
N20_total_melt = pd.melt(N20_total, id_vars = ["iso", "Country/Region", "unit"], var_name = "Year", value_name = "N20TOT").drop(columns = "unit")

#
N20_total_melt

         iso        Country/Region  Year  N20TOT
0     USA.TX                 Texas  1990   55.12
1     USA.IA                  Iowa  1990   25.48
2     USA.KS                Kansas  1990   20.84
3     USA.CA            California  1990   18.62
4     USA.IL              Illinois  1990   24.82
...      ...                   ...   ...     ...
1576  USA.DE              Delaware  2020    0.48
1577  USA.NH         New Hampshire  2020    0.35
1578  USA.AK                Alaska  2020    0.22
1579  USA.RI          Rhode Island  2020    0.20
1580  USA.DC  District of Columbia  2020    0.08

[1581 rows x 4 columns]

In [36]:
#
dfs = [CH4_capita_melt, CH4_gdp_melt, CH4_total_melt, CO2_capita_melt, CO2_gdp_melt, CO2_total_melt, fgas_capita_melt, fgas_gdp_melt, fgas_total_melt, N20_capita_melt, N20_gdp_melt, N20_total_melt]

#
ghg = reduce(lambda left, right: pd.merge(left, right, on = ["iso", "Country/Region", "Year"], how = "left"), dfs)

#
ghg

,iso,Country/Region,Year,CH4pC,CH4pGDP,CH4TOT,CO2pC,CO2pGDP,CO2TOT,FGaspC,FGaspGDP,FGasTOT,N20pC,N20pGDP,N20TOT
0,USA.TX,Texas,1990,6.33,246.87,107.96,32.16,1254.40,548.54,0.26,10.31,4.51,3.23,126.05,55.12
1,USA.CA,California,1990,2.15,71.05,64.37,10.42,344.40,312.06,0.10,3.19,2.89,0.62,20.55,18.62
2,USA.PA,Pennsylvania,1990,3.13,128.85,37.23,18.61,766.75,221.56,0.05,2.24,0.65,0.70,29.02,8.39
3,USA.OK,Oklahoma,1990,10.87,510.14,34.22,25.32,1188.46,79.73,0.20,9.62,0.65,3.71,174.05,11.68
4,USA.WV,West Virginia,1990,20.10,1149.17,36.03,45.88,2623.43,82.24,0.63,35.78,1.12,1.18,67.58,2.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576,USA.NH,New Hampshire,2020,0.68,12.34,0.94,4.57,83.04,6.31,0.40,7.25,0.55,0.25,4.60,0.35
1577,USA.DE,Delaware,2020,0.80,12.70,0.79,11.93,190.11,11.84,0.40,6.35,0.40,0.48,7.63,0.48
1578,USA.HI,Hawaii,2020,0.46,9.55,0.67,9.74,201.53,14.13,0.52,10.75,0.75,0.40,8.25,0.58
1579,USA.RI,Rhode Island,2020,0.27,5.73,0.30,8.27,175.99,9.07,0.38,8.16,0.42,0.18,3.92,0.20
1580,USA.DC,District of Columbia,2020,0.12,0.67,0.08,3.60,19.69,2.41,0.42,2.30,0.28,0.12,0.64,0.08